h1 {
    margin: 0 auto;
}

.cover {
    display: flex;
}
.slider {
        border: 2px solid black;
    max-width: 75%;
    margin: 0 auto;
    overflow: hidden;
}

.sliderLine {
    display: flex;
    background-color: green;
    transition: all ease 1s;
}

.button {
    z-index: 8;
    width: 10%;
    background-color: transparent;
    color: transparent;
    border: 0px;
}